<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DefaultServerIp" value="127.0.0.1"/>
    <add key="DefaultServerUser" value=""/>
    <add key="DefaultServerPwd" value=""/>
    <add key="DefaultServerType" value="MySql"/>
    <add key="DefaultConnectionName" value="BaseDb"/>
    <add key="DefaultCompany" value="ZSN"/>
    <add key="DefaultProject" value="DefaultSystem"/>
    <add key="DefaultBuildPath" value="./Build"/>
    <add key="IsCleanTemplate" value="0"/>
    <add key="IsUpperName" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
