<!-- Footer Start -->
<footer class="footer">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_FooterText")
        </div>
        <div class="col-md-6">
            <div class="text-md-right footer-links d-none d-md-block">
                <a href="javascript:;"></a>
                <a href="javascript:;"></a>
                <a href="javascript:;"></a>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->
