<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="entry-body">
    <div id="root" class="container-fluid">
        <div class="wrapper">
            <div class="content-page" id="js-content">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
